
body{
font-family: 'Montserrat', sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}

.header {
    background: #212936;
    color: #fff;
}

.resalte{
  font-weight: bold;
  color: #e53935;
  font-size: 20px;
}

p{
  font-size: 19px;
}

li{
  font-size: 19px;
}

h3{
  font-weight: bold;
  padding-bottom: 5px;
}

.info-1{
    background: #212121;
    color: #fff;
    padding-top: 114px;
    padding-bottom: 125px;
}

.info-2{
    background: #212936;
    color: #fff;
    padding-top: 114px;
    padding-bottom: 125px;
}

.header .me {
    background: none !important;
    padding-top: 80px;
    padding-bottom: 160px;
}

#info img{
}

.table{
    background: #212936;
    color: #fff;
    padding-top: 114px;
    padding-bottom: 125px;
  }

.clientes{
  padding-top: 80px;
}

.thead{
  font-size: 16px;
}

.striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #212121;
}


/*Responsive*/

@media (max-width: 1550px) {

}

@media (max-width: 1300px) {

}

@media (max-width: 992px) {

}

@media (max-width: 600px) {
  .valign-wrapper{
  display: inherit;
}

@media (max-width: 500px) {
  .thead{
    font-size: 12px;
  }

  .tbody{
    font-size: 10px;
  }

  .material-icons{
    font-size: 16px;
  }

  }

  @media (max-width: 330px) {
    .mar{

    }
    td{
      padding: 10px 3px;
    }


    #table .container{
      margin-left: 0;

    }

    }

    @media (max-width: 300px) {

      td{
        padding: 10px 0px;
      }
      }


/*Responsive*/



/*aweber*/
